<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Prediction</title>
    <link rel="stylesheet" href = "style.css">
</head>
<body>
    <h1>Stock Trade Predictor</h1>
    <form action="/predict" method="post">
        <label for ="stock_symbol">Enter Stock Symbol:</label>
        <input type="text" id="stock_symbol" name="stock_symbol" required>
        <button type="submit">predict</button>
    </form>
    
</body>
</html>
