<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Trade Predictor</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>

<header>
    <nav>
        <div class="logo"></div>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#login">Login</a></li>
        </ul>
    </nav>
</header>

<section id="hero">
    <h1>AI-powered Stock Market Predictions</h1>
    <p>Forecast the stock market with accurate and real-time insights</p>
    <a href="#signup" class="cta-button">Get Started</a>
</section>

<section id="features">

    <div class="feature-card">
        <h3>Real-Time Stock Data</h3>
        <p>Compare real-time stock prices of different companies and visualise 
            the data for better decision making.
        </p>
    </div>
    <div class="feature-card">
        <h3>Predictive Modelling</h3>
        <p>Leverage machine learning models that analyse historical stock prices
            and other financial indicators to generate reliable predictions for short-term
            and long-term investments
        </p>
    </div>
    <div class="feature-card">
        <h3>Easy-to-Use</h3>
        <p>Our user-friendly interface allows you to easily input 
            stock symbols/company names, view predictions, and get visual representations of
        the predicted trends without any hassle </p>
    </div>
    <div class="feature-card">
        <h3>Easy-to-Use</h3>
        <p>Our user-friendly interface allows you to easily input 
            stock symbols/company names, view predictions, and get visual representations of
        the predicted trends without any hassle </p>
    </div>
    
</section>

<section id="how-it-works">
    <h2>How it Works</h2>
    <div class="step">
        <p>HOORAY</p>
    </div>
    <div class="step">
        <p></p>
    </div>
    <div class="step">
        <p></p>
    </div>
</section>

<section id="live-dashboard">
    <h2>Live Dashboard</h2>
    <p>Here's the plot comparing the stock closing prices of two randomly selected companies: </p>
    <div class="chart">
        <img src="{{ url_for('send_image', filename=image_path) }}" alt="Stock Prices Plot" width="800">


    </div>
</section>

<section id="testimonials">
    <div class="testimonial">
        <p></p>
    </div>
</section>


<footer>
    <p></p>
    <ul>
        <li><a href="#privacy-policy"></a></li>
        <li><a href="#terms-of-service"></a></li>
        <li><a href="#contact"></a></li>
    </ul>
</footer>

</body>
</html>
